body{
    background-color: #EDF0F5;
}

.left{
    margin: 10%;
    margin-top: 15%;
}
.right{
    border: gray 1px solid;
    border-radius: 8px;
    padding: 20px;
    margin-top: 25%;
    box-shadow: rgb(105, 103, 103) 2px 5px 5px 5px ;

}
.connexion{
    width: 100%;
    background-color: #1876F1;
    color: white;
}
.new{
    background-color: #42B72A;
    color: white;
}
.btnnew{
    padding-left: 20%;
}
h1{
    color: #1876F1;
    font-size: 60px;
}
.contain{
    padding: 20px;
}
h6{
    padding-top: 10px;
    font-size: 12px;
}
select{
    padding: 5px;
    font-size: 13px;
    height: 30px;
}
.inscription{
    
    width: 200px;
    
    background-color: #42B72A;
}
.radio{
    padding: 10px;
    margin: 15px;
    font-size: 15px;
    height: 45px;
}
p{
    font-size: 10px;
    color: gray;
}
small{
   
    
    font-size: 14px;
 
    
}